<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/cyclops</string>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>piaNetTest</string>
	<key>Program</key>
	<string>/Users/cyclops/Library/Mobile Documents/com~apple~CloudDocs/Scripts/piaNetworkTest.py</string>
	<key>RunAtLoad</key>
	<false/>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>